# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules
/.pnp
.pnp.js

# Next.js static files
public/workbox-*
public/service-worker.js

# Ignore service worker files
public/sw.js
public/sw.js.map
public/fallback-*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
storybook-static

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

.env.development

# vscode
.vscode
*.code-workspace
*storybook.log

# ignore package-lock since we use yarn
package-lock.json

# Sentry Config File
.env.sentry-build-plugin

certificates